<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.willkernel.aidlbook">

    <permission
        android:name="com.willkernel.aidlbook.ACCESS_BOOK_SERVICE"
        android:protectionLevel="normal" />

    <uses-permission android:name="com.willkernel.aidlbook.ACCESS_BOOK_SERVICE" />
    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name="com.willkernel.aidlbook.BookManagerActivity">
            <!--<activity android:name="com.willkernel.aidlbook.TCPClientActivity">-->
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <service
            android:name=".BookManagerService"
            android:enabled="true"
            android:process=":remote">
            <intent-filter>
                <category android:name="android.intent.category.DEFAULT"/>
                <action android:name="com.willkernel.aidlbook.BookManagerService"/>
            </intent-filter>
        </service>
        <service android:name=".TCPService" />
    </application>

</manifest>